In [405]:
import pandas as pd
import numpy as np

In [406]:
train = pd.read_csv('dataset/train_u6lujuX_CVtuZ9i.csv')
test = pd.read_csv('dataset/test_Y3wMUE5_7gLdaTN.csv')
train['source']='train'
test['source']='test'
df = pd.concat([train, test],ignore_index=True)
df = df.drop(['Loan_ID'],axis=1)
df.head()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_Status,Married,Property_Area,Self_Employed,source
0,5849,0.0,1.0,0,Graduate,Male,NaN,360.0,Y,No,Urban,No,train
1,4583,1508.0,1.0,1,Graduate,Male,128.0,360.0,N,Yes,Rural,No,train
2,3000,0.0,1.0,0,Graduate,Male,66.0,360.0,Y,Yes,Urban,Yes,train
3,2583,2358.0,1.0,0,Not Graduate,Male,120.0,360.0,Y,Yes,Urban,No,train
4,6000,0.0,1.0,0,Graduate,Male,141.0,360.0,Y,No,Urban,No,train

In [407]:
df.isnull().sum()

ApplicantIncome        0
CoapplicantIncome      0
Credit_History        79
Dependents            25
Education              0
Gender                24
LoanAmount            27
Loan_Amount_Term      20
Loan_Status          367
Married                3
Property_Area          0
Self_Employed         55
source                 0
dtype: int64

In [408]:
from scipy.stats import mode
df.Credit_History = df.Credit_History.fillna(mode(df.Credit_History).mode[0])
df.Dependents = df.Dependents.fillna(mode(df.Dependents).mode[0])
df.Gender = df.Gender.fillna(mode(df.Gender).mode[0])
df.LoanAmount = df.LoanAmount.fillna(df.LoanAmount.mean())
df.Loan_Amount_Term = df.Loan_Amount_Term.fillna(df.Loan_Amount_Term.mean())
df.Loan_Status = df.Loan_Status.fillna(mode(df.Loan_Status).mode[0])
df.Married = df.Married.fillna(mode(df.Married).mode[0])
df.Self_Employed = df.Self_Employed.fillna(mode(df.Self_Employed).mode[0])
df.isnull().sum()

ApplicantIncome      0
CoapplicantIncome    0
Credit_History       0
Dependents           0
Education            0
Gender               0
LoanAmount           0
Loan_Amount_Term     0
Loan_Status          0
Married              0
Property_Area        0
Self_Employed        0
source               0
dtype: int64

In [409]:
df.Credit_History = df.Credit_History.astype(int)
df.Dependents = df.Dependents.replace('3+','3')

In [410]:
def LAClass(x):
    if x < 101.0:
        return 1
    elif x >= 101.0 and x < 128.0:
        return 2
    elif x >= 128.0 and x < 160.0:
        return 3
    else:
        return 4

df['Loan_Category'] = df['LoanAmount'].apply(lambda x: LAClass(x)) 
df = df.drop('LoanAmount', axis=1)

In [411]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['Education','Gender','Loan_Status','Married','Property_Area','Self_Employed','Dependents']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i])
df

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,Loan_Amount_Term,Loan_Status,Married,Property_Area,Self_Employed,source,Loan_Category
0,5849,0.0,1,0,0,1,360.000000,1,0,2,0,train,3
1,4583,1508.0,1,1,0,1,360.000000,0,1,0,0,train,3
2,3000,0.0,1,0,0,1,360.000000,1,1,2,1,train,1
3,2583,2358.0,1,0,1,1,360.000000,1,1,2,0,train,2
4,6000,0.0,1,0,0,1,360.000000,1,0,2,0,train,3
5,5417,4196.0,1,2,0,1,360.000000,1,1,2,1,train,4
6,2333,1516.0,1,0,1,1,360.000000,1,1,2,0,train,1
7,3036,2504.0,0,3,0,1,360.000000,0,1,1,0,train,3
8,4006,1526.0,1,2,0,1,360.000000,1,1,2,0,train,4
9,12841,10968.0,1,1,0,1,360.000000,0,1,1,0,train,4
10,3200,700.0,1,2,0,1,360.000000,1,1,2,0,train,1
11,2500,1840.0,1,2,0,1,360.000000,1,1,2,0,train,2
12,3073,8106.0,1,2,0,1,360.000000,1,1,2,0,train,4
13,1853,2840.0,1,0,0,1,360.000000,0,0,0,0,train,2
14,1299,1086.0,1,2,0,1,120.000000,1,1,2,0,train,1
15,4950,0.0,1,0,0,1,360.000000,1,0,2,0,train,2
16,3596,0.0,1,1,1,1,240.000000,1,0,2,0,train,1
17,3510,0.0,0,0,0,0,360.000000,0,0,2,0,train,1
18,4887,0.0,1,0,1,1,360.000000,0,1,0,0,train,3
19,2600,3500.0,1,0,0,1,342.201873,1,1,2,0,train,2
20,7660,0.0,0,0,1,1,360.000000,0,1,2,0,train,2
21,5955,5625.0,1,1,0,1,360.000000,1,1,2,0,train,4
22,2600,1911.0,0,0,1,1,360.000000,0,1,1,0,train,2
23,3365,1917.0,0,2,1,1,360.000000,0,1,0,0,train,2
24,3717,2925.0,1,1,0,1,360.000000,0,1,1,0,train,3
25,9560,0.0,1,0,0,1,360.000000,1,1,1,1,train,4
26,2799,2253.0,1,0,0,1,360.000000,1,1,1,0,train,2
27,4226,1040.0,1,2,1,1,360.000000,1,1,2,0,train,2
28,1442,0.0,1,0,1,1,360.000000,0,0,2,0,train,1
29,3750,2083.0,1,2,0,0,360.000000,1,0,1,0,train,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,2292,1558.0,1,0,0,1,360.000000,1,1,2,0,test,2
952,2360,3355.0,1,1,0,1,240.000000,1,1,0,1,test,1
953,4333,2333.0,0,0,0,0,360.000000,1,0,0,0,test,4
954,2623,4831.0,1,0,0,1,180.000000,1,1,1,1,test,2
955,3972,4275.0,1,0,0,1,360.000000,1,0,0,1,test,4
956,3522,0.0,1,3,1,1,180.000000,1,1,0,0,test,1
957,4700,0.0,1,1,0,1,360.000000,1,1,2,0,test,1
958,6858,0.0,1,0,0,1,360.000000,1,0,0,0,test,4
959,8334,0.0,1,3,0,1,360.000000,1,1,2,0,test,4
960,3391,1966.0,0,0,0,1,360.000000,1,1,0,0,test,3
961,2868,0.0,1,0,1,1,360.000000,1,0,2,0,test,1
962,3418,1380.0,1,2,1,1,360.000000,1,1,2,0,test,3
963,2500,296.0,1,0,0,1,300.000000,1,1,0,1,test,3
964,8667,0.0,1,2,0,1,360.000000,1,1,0,0,test,4
965,2283,15000.0,1,0,0,1,360.000000,1,0,0,0,test,2
966,5817,910.0,1,0,0,1,360.000000,1,1,2,0,test,2
967,5119,3769.0,1,0,0,1,360.000000,1,1,0,0,test,2
968,5316,187.0,0,3,1,1,180.000000,1,1,1,0,test,3
969,7603,1213.0,1,3,0,1,360.000000,1,1,2,0,test,4
970,3791,1936.0,1,1,0,1,360.000000,1,1,2,0,test,1
971,2500,0.0,1,0,0,1,360.000000,1,0,2,0,test,1
972,3132,0.0,1,2,1,1,360.000000,1,1,0,0,test,1
973,4000,2667.0,1,0,0,1,360.000000,1,0,1,0,test,3
974,8550,4255.0,1,0,0,0,360.000000,1,1,2,0,test,1
975,2269,2167.0,1,1,0,1,360.000000,1,1,1,0,test,1
976,4009,1777.0,1,3,1,1,360.000000,1,1,2,1,test,2
977,4158,709.0,1,0,0,1,360.000000,1,1,2,0,test,2
978,3250,1993.0,1,0,0,1,360.000000,1,0,1,0,test,2
979,5000,2393.0,1,0,0,1,360.000000,1,1,0,0,test,3
980,9200,0.0,1,0,0,1,180.000000,1,0,0,1,test,1

In [412]:
df.dtypes

ApplicantIncome        int64
CoapplicantIncome    float64
Credit_History         int64
Dependents             int64
Education              int64
Gender                 int64
Loan_Amount_Term     float64
Loan_Status            int64
Married                int64
Property_Area          int64
Self_Employed          int64
source                object
Loan_Category          int64
dtype: object

In [413]:
train = df.loc[df['source']=="train"]
test = df.loc[df['source']=="test"]

train = train.drop('source',axis=1)
test = test.drop('source',axis=1)

y_train = train.pop('Loan_Status')
X_train = train.loc[:,:]

y_test = test.pop('Loan_Status')
X_test = test.loc[:,:]

print(train.head())
print(test.head())

   ApplicantIncome  CoapplicantIncome  Credit_History  Dependents  Education  \
0             5849                0.0               1           0          0
1             4583             1508.0               1           1          0
2             3000                0.0               1           0          0
3             2583             2358.0               1           0          1
4             6000                0.0               1           0          0

   Gender  Loan_Amount_Term  Married  Property_Area  Self_Employed  \
0       1             360.0        0              2              0
1       1             360.0        1              0              0
2       1             360.0        1              2              1
3       1             360.0        1              2              0
4       1             360.0        0              2              0

   Loan_Category
0              3
1              3
2              1
3              2
4              3
     ApplicantIncome  CoapplicantIncome  Credit_History  Dependents  \
614             5720                0.0               1           0
615             3076             1500.0               1           1
616             5000             1800.0               1           2
617             2340             2546.0               1           2
618             3276                0.0               1           0

     Education  Gender  Loan_Amount_Term  Married  Property_Area  \
614          0       1             360.0        1              2
615          0       1             360.0        1              2
616          0       1             360.0        1              2
617          0       1             360.0        1              2
618          1       1             360.0        0              2

     Self_Employed  Loan_Category
614              0              2
615              0              2
616              0              4
617              0              1
618              0              1

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)

In [415]:
y_pred = classifier.predict(X_test)

In [416]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[  0,   0],
       [ 62, 305]])

In [417]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8310626702997275

In [418]:
from sklearn.metrics import accuracy_score
print('Training accuracy: ', accuracy_score(y_train, classifier.predict(X_train)))
print('Validation accuracy: ', accuracy_score(y_test, classifier.predict(X_test)))

Training accuracy:  0.8306188925081434
Validation accuracy:  0.8310626702997275